<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/index.min.css" />
  <style>
    body {
      max-width: 140ch;
    }

    #upload-form {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    form div {
      width: 500px;
    }

    #upload-info {
      width: 100%;
      height: 100%;
    }

    small {
      color: #9d9d9d;
    }

    #delete-form {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    #delete-info {
      background-color: #212121;
      width: 100%;
      height: 60px;
      border-radius: 0.25rem;
      padding: 16px;
    }
  </style>
</head>

<body>
  <main>
    <h1>Media Uploader</h1>
    <section>
      <form id="upload-form">
        <div>
          <label for="media">Upload your file </label><small>Maximum file size allowed 50MB</small>
          <input id="media" type="file" name="media" required />
          <button>Upload</button>
          <progress id="progress-bar" max="100" value="0" />
        </div>
        <div>
          <pre id="upload-info">Here will be displayed the data of the uploaded file</pre>
        </div>
      </form>
      <form id="delete-form">
        <div>
          <label for="delete-file">Delete your file</label>
          <input id="delete-file" type="text" name="delete-file" placeholder="Enter the file id..." required />
          <button>Delete</button>
        </div>
        <div>
          <p id="delete-info"></p>
        </div>
      </form>
    </section>
  </main>
  <script type="module">
    const $formDelete = document.getElementById('delete-form')
    const $formUpload = document.getElementById('upload-form')
    const $fileInput = document.getElementById('media')
    const $pInfo = document.getElementById('delete-info')
    const $preInfo = document.getElementById('upload-info')
    const $progressBar = document.getElementById('progress-bar')

    async function handleDelete(event) {
      event.preventDefault()
      const formData = new FormData(event.target)
      const fileId = String(formData.get('delete-file'))
      const req = await fetch(`/file/${fileId}`, {
        method: 'DELETE'
      })
      if (req.ok && req.status === 204) {
        $pInfo.textContent = 'File deleted'
        $formDelete.reset()
        return
      }
      $pInfo.textContent = 'File not found'
    }
    async function handleUpload(event) {
      event.preventDefault()
      const file = event.target[0].files[0]
      if (file == null) {
        alert('Please select a file!')
        return
      }
      const formData = new FormData()
      formData.append('media', file)
      const xhr = new XMLHttpRequest()
      xhr.upload.onprogress = (event) => {
        if (event.lengthComputable) {
          const percentComplete = (event.loaded / event.total) * 100
          $progressBar.value = percentComplete
        }
      }
      xhr.onreadystatechange = () => {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 201) {
            console.log(xhr.response)
            $preInfo.textContent = JSON.stringify(JSON.parse(xhr.response), null, ' ')
          } else if (xhr.status === 302) {
            $preInfo.textContent = 'ERROR: File already exists'
          } else if (xhr.status === 413) {
            $preInfo.textContent = 'ERROR: File too big'
          } else {
            $preInfo.textContent = 'ERROR: Failed uploading the file'
          }
        }
      }

      xhr.open('POST', '/upload', true)
      xhr.send(formData)
    }

    $formDelete.addEventListener('submit', handleDelete)
    $formUpload.addEventListener('submit', handleUpload)
  </script>
</body>

</html>